<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
    
    <!--https://getbootstrap.com/docs/4.5/getting-started/introduction/-->
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>